

.mainScene{
	-fx-background-image: url("/images/logos/Light_Background_Image.jpg");
}

.strike .text {
    -fx-strikethrough: true;
}

.menu{
	-fx-background-color: #ffe5af;
	-fx-border-color: #ffbb2d;

}
.lblHeader{
	-fx-text-fill: linear-gradient(to top right,#ff6d08 0%, RED 44.63%, #fff700 100%);
	-fx-font-family: "Bauhaus 93";
	-fx-font-size: 37.0;
}

.title{
	-fx-font-family: "Bauhaus 93";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.iconedButton{
	-fx-font-size: 30.0;
}

.lblColoredIcon{
	-fx-text-fill: linear-gradient(to top right,#ff6d08 0%, RED 44.63%, #fff700 100%);
	-fx-font-family: "Bauhaus 93";
	-fx-font-size: 12.0;
}

.coloredIcon{
	-fx-fill: linear-gradient(to top right,#ff6d08 0%, RED 44.63%, #fff700 100%);
	-glyph-size: 30.0;
}

.menu-button{
	-fx-background-color: linear-gradient(to top right,#ff6d08 0%, RED 44.63%, #fff700 100%);
}

.tooltip{
	-fx-font-size: 12px;
}

.menuVBox{
	-fx-border-color: #ffbb2d ;
}

.menuTitle{
	-fx-font-size: 15px;
	-fx-font-family: "Bauhaus 93";
	-fx-font-weight: bold;
}

.combo-box{
	-jfx-focus-color: orange;
	-jfx-label-float: true;
	-jfx-unfocus-color: red; 
}

.button{
	-jfx-button-type: RAISED;
}

.text-field{
	-jfx-focus-color: orange;
	-jfx-label-float: true;
	-jfx-unfocus-color: red;
}

.text-area{
	-jfx-focus-color: orange;
	-jfx-label-float: true;
	-jfx-unfocus-color: red;
}

.text-area .text{
	-fx-fill: red;
	-fx-text-fill: orange;
}

.radio-button{
	-jfx-selected-color: orange;
	-jfx-unselected-color: red;
}

.toggle-button{
	-jfx-toggle-color: white;
	-jfx-toggle-line-color: orange;
	-jfx-untoggle-color: white;
	-jfx-untoggle-line-color: red;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: orange;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#444, orange 0%, red 100%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#AAA, orange 0%, red 100%);
}

#menu:disabled, #menu:disabled > * {
  -fx-opacity: 1.0 ;
}

.jfx-slider {
    -jfx-default-thumb: orange;
    -jfx-default-track: red;
}

.jfx-slider .animated-thumb,
.jfx-slider .animated-thumb:min{
	-fx-background-color: orange;
}